#complex{

	#yasamal-logo{
		position: fixed;
		bottom:0;
		right:0;
		max-height:80px;
	}

	#kindergarten{
		position: absolute;
		left:38%;
		top:15%;
		max-height:80px;
	}

	#school{
		position: absolute;
		left:50%;
		top:27%;
		max-height:80px;
	}

	#stadium{
		position: absolute;
		left:54%;
		top:13%;
		max-height:80px;
	}

	#shopping{
		position: absolute;
		left:30.5%;
		bottom:13%;
		max-height:80px;
	}

}