// ---------------Info items-------------

$infoBg : #34A5C5;
$info-icon-color : white;
$info-call-me-bg : white;
$info-color:white;
$info-call-me-color : #34A5C5;


// ------------Menu items--------------
$menuBg : #34A5C5;
$menuHoverBg : transparent;
$menuColor : white;
$menuLineHeight : 50px;
$menuLogoMargin : 30px;

		// ------------------------Special button settings-------------------------
		$special-button-color : #949D36;
		$special-button-padding : 15px 20px;


// --------------Footer items------------------
$footerBg : #403E44;
$footerMainColor : white;
$footerSecondColor: #746F79;

		// ---------------------------Footer special settings---------------------------
		$footer-border-color : #746F79;


// ---------------Call me------------------------
$callmeColor : white;
$callmeBg : #7F892C;
$callmeBorderColor : white;







// ------------------------------News page--------------------------------------
$news-content-bg : #156A87;
$news-content-list-bg : white;
$news-color : #3B393F;
$news-more-color : #66626B;
$news-pd-color : #969D49; // *pd-----publishing-date